*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Antonio', sans-serif;
    text-align: center;
}
h1, h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.3rem;
}
.landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.cont{
    padding: 20%;
    padding-bottom: 3%;
}
.cont .white{
    color: #FFFFFF;
}
.cont h2, .cont h1{
    padding-top: 3%;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    
}
.cont img.mouse{
    padding-top: 15%;
}
.container{
    padding: 5% 10%;
    font-weight: 200;
}